.nav-home {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding-block: 2rem;
}

.home-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  max-width: 77rem;
  margin: 0 auto;
  
}

.home-principal > div {
  width: 100%;
  justify-items: center;
}

.logo-home {
  width: 300px;
  display: block;
  margin-inline: auto;

}

.btn-nav-home {
  background-color: inherit;
  color: #ddd;
  font-size: 1.1rem;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
}

.btn-nav-home:hover {
  box-shadow: 3px 3px 6px rgba(255, 255, 255, 0.3);
}

.title-home {
  font-size: 2.8rem !important;
  text-align: left;
}

.sub-title-home {
  font-size: 1.6rem;
}

.container-parrafo{
  border-bottom: 1px solid #ddd;

}

.main-parrafo {
  padding-top: 2rem;
  padding-bottom: 0.8rem;
  font-size: 1.1rem;
  max-width: 75ch;
}

.main-parrafo > svg {
  margin-right: 0.3rem;
  vertical-align: middle;
}


@media (max-width: 600px) {
  .title-home {
    font-size: 2rem !important;
    text-align: center;
  }
  .title {
    font-size: 2.5rem;
  }

  .sub-title-home {
    font-size: 1rem;
  }

  .main-parrafo {
    font-size: .9rem;
  }

  .btn-nav-home {
    font-size: 1rem;
    padding: 0;
  }
}

@media (max-width: 450px) {
  .main-parrafo {
    padding-top: 1rem;
  }
}

@media (max-width: 370px) {
  .btn-nav-home {
    font-size: 0.8rem;
  }
}
