.main-about {
  display: flex;
}

.card-about {
  display: flex;
  align-items: center;
  padding-block: 2rem;
}

.card-info {
  padding-inline: 1rem;
}

.card-info > * {
  margin-block: 0.3rem;
}

.card-img-about {
  border-radius: 50%;
  width: 230px;
  height: 230px;
}

.btn-card-about {
  background-color: inherit;
  border: 1px solid #fff;
  color: #fff;
}

.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .main-about {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .card-about {
    flex-direction: column;
  }
}
