.main-about {
  display: flex;
}

.card-about {
  display: flex;
  align-items: center;
  padding-block: 2rem;
}

.card-info {
  padding-inline: 1rem;
}

.card-img-about {
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
}
