.main-about {
  display: flex;
}

.card-about {
  display: flex;
  align-items: center;
  padding-block: 2rem;
}

.card-info {
  padding-inline: 1rem;
}

.card-info > * {
  margin-block: 0.3rem;
}

.card-img-about {
  border-radius: 50%;
  width: 230px;
  height: 230px;
}

.btn-card-about {
  background-color: inherit;
  border: 1px solid #fff;
  color: #fff;
}
