.navButtons {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.btn-nav-text-svg {
  display: flex;
  justify-content: space-between;
}

.btn-nav-text-svg svg {
  vertical-align: middle;
}

.fade > * {
  width: 100%;
}
