.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
  border-bottom: 2px solid #fff;
  width: min(100% - 2rem, 1440px);
  margin: 0 auto;
}

.logo-header {
  max-width: 210px;
  object-fit: contain;
}

.nav-text {
  text-align: center;
  font-size: 1.2rem;
}

@media (max-width: 960px) {
  .nav-text {
    display: none;
  }
}

@media (max-width: 475px) {
  .logo-header {
    width: 100px;
  }
}

@media (max-width: 470px) {
  .logo {
    max-width: 150px;
  }
}

@media (max-width: 370px) {
  .logo {
    max-width: 120px;
  }
}
