.section-proyects {
  display: flex;
  justify-content: center;
  padding-block: 2rem;
}

.card-proyects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-proyects {
  max-width: 300px;
  object-fit: cover;
}
