.section-proyects {
  display: flex;
  justify-content: center;
  padding-block: 2rem;
}

.card-proyects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-proyects {
  max-width: 300px;
  object-fit: cover;
}

.containerCarousel{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  overflow: hidden;
  padding: 2%;
}

/* .containerSplide{
  width: 100%;
} */

.containerImg{
  display: flex;
  justify-content: center;
}

/* .containerImg:hover > a{
  background-color: #22222259;
  z-index: 3;
} */

.containerUrlSite{
  position: relative;
}


.containerNameSite{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
}

.hidden{
  display: none;
}
.containerNameSite > strong {
  font-size: 2rem;
  color: #fff;
}

.containerImg:hover  > .containerUrlSite .containerNameSite{
  display: flex;
}

.imgCarousel{
  width: 100%;
  height: 100%;
}

.containerImg:hover .imgCarousel {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
  transition: all 0.4s ease-in-out
  ;}
.containerImg {overflow:hidden;}

.galeryMobile{
  display: none;
}

@media (min-width: 300px) and (max-width: 800px) {
  .galeryMobile{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    gap: 10px;
  }
  .galeryMobile > div {
    width: 100%;
  }
  .containerCarousel{
    display: block;
    padding: 2%;
    height: 100%;
    overflow: initial;
  }
  .containerSplide{
    display: none;
  }
  .containerImgMobile:hover .imgCarousel {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition: all 0.4s ease-in-out
    ;}
  .containerImgMobile {overflow:hidden;}
  .containerImgMobile {
    display: flex;
    justify-content: center;
  }

  .containerImgMobile > a {
    position: relative;
  }

  .containerImgMobile:hover  > a .containerNameSite{
    display: flex;
  }
  
}