.footer {
  display: flex;
  justify-content: center;
  margin-block: 0.5rem;
  width: min(100% - 2rem, 1440px);
}

.footer p {
  color: #213547;
}

@media (max-width: 700px) {
  .footer p {
    font-size: .8rem;
  }
}
