.contacto-main {
  display: flex;
}

.contacto-main div {
  flex-basis: 100%;
}

input {
  color: #ddd;
}

@media (max-width: 768px) {
  .contacto-main {
    flex-direction: column;
  }
}

.containerInfoContact{
  display: flex;
  flex-direction: column;
}

.containerSocialMedia{
  display: flex;
  justify-content: center;
  gap: 100px;
}

.containerSocialMedia > a > svg{
  font-size: 50px;
}