.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2rem;
  width: 50%;
  margin: auto;
}

.form-group {
  margin-block: 1rem;
}

.contact-input {
  height: 34px;
  width: 100%;
  border: 1px solid transparent;
  border-top: none;
  border-bottom: 1px solid #ddd;
  background-color: inherit;
  padding: 0.5rem 1rem;
  outline: none;
}

.errorMessage{
  color: rgb(255, 0, 0);
  font-size: 14px;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-contact {
  padding: 1rem 4rem;
  width: 70%;
  margin: auto;
  border-radius: 5px;
  background-color: #fff;
}

.btn-contact:hover{
  background-color: transparent;
  color: #fff;
}

.containerToast{
  width: 100px;
  height: 50px;
  font-size: 20px;
}