#root {
  --header-height: 5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.mainContent {
  width: min(100% - 2rem, 1440px);
  margin: 0 auto;
  min-height: 28rem;
}

.title {
  font-size: 3.5rem;
  padding-block: 1rem;
}

/* Button de navegacion */

.navButtons {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.buttonNav {
  text-align: left;
}
